@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Inconsolata-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/EBGaramond12-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "xkcd Script";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/xkcd-script.ttf") format('truetype');
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal div {
    font-family: "EB Garamond", sans-serif;
}

.reveal div pre.asciinema-terminal {
    font-family: "Inconsolata", monospace;
}

.reveal code {
    font-family: "Inconsolata";
}

.colorful .reveal {
    background:
        linear-gradient(45deg, hsla(207, 93%, 44%, 1) 0%, hsla(207, 93%, 44%, 0) 70%),
        linear-gradient(135deg, hsla(189, 95%, 50%, 1) 10%, hsla(189, 95%, 50%, 0) 80%);

    section > * {
        color: #fff;
        text-shadow: 0px 0px 1px #000;
    }
}

.reveal .slides .flushleft {
    position: absolute;
    width: 50%;
    min-height: 240px;
    top: -100px;
    background-color: rgba(0, 128, 128, 0.7);
    border-right: 2px solid Teal;
    padding: 1em 2em 1em;
    text-align: left;
    font-size: 60%;
}

.reveal .slides .textcentered {
    text-align: center !important;
}

.reveal .slides .xkcd * {
    font-family: "xkcd Script";
}

/* taken from https://codepen.io/billyysea/pen/whjbK */
.sky-gradient-00, .sky-gradient-24 .reveal { background: #00000c; }
.sky-gradient-01 .reveal { background: linear-gradient(to bottom, #020111 85%,#191621 100%); }
.sky-gradient-02 .reveal { background: linear-gradient(to bottom, #020111 60%,#20202c 100%); }
.sky-gradient-03 .reveal { background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%); }
.sky-gradient-04 .reveal { background: linear-gradient(to bottom, #20202c 0%,#515175 100%); }
.sky-gradient-05 .reveal { background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); }
.sky-gradient-06 .reveal { background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%); }
.sky-gradient-07 .reveal { background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%); }
.sky-gradient-08 .reveal { background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
.sky-gradient-09 .reveal { background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); }
.sky-gradient-10 .reveal { background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
.sky-gradient-11 .reveal { background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%); }
.sky-gradient-12 .reveal { background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }
.sky-gradient-13 .reveal { background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%); }
.sky-gradient-14 .reveal { background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%); }
.sky-gradient-15 .reveal { background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%); }
/* 50=>80 */
.sky-gradient-16 .reveal { background: linear-gradient(to bottom, #1e528e 0%,#265889 80%,#9da671 100%); }
.sky-gradient-17 .reveal { background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%); }
.sky-gradient-18 .reveal { background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%); }
.sky-gradient-19 .reveal { background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%); }
.sky-gradient-20 .reveal { background: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%); }
.sky-gradient-21 .reveal { background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%); }
.sky-gradient-22 .reveal { background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%); }
.sky-gradient-23 .reveal { background: linear-gradient(to bottom, #00000c 80%,#150800 100%); }

.light-on-dark, section.light-on-dark h1 {
  color: #fff;
  text-shadow: 0px 1px #000;
}

.light-on-dark a {
  color: #9be2fe;
  text-shadow: 0px 1px #000;
}

.light-on-dark a:hover {
  color: #b7eaff;
  text-shadow: 0px 1px #000;
}

code, pre, .hljs {
  background-color: transparent !important;
  box-shadow: none !important;
}

pre.asciinema-terminal {
  background-color: black !important;
}
